# Neon Database Connection String
# Example: postgres://[user]:[password]@[hostname]/[dbname]?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_PMfcnFeuHR05@ep-old-shape-ad9dg4cn-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
